* {
  padding: 0;
  margin: 0;
}

#hi{
  animation: changing1 10s ease infinite;
}
#loudbook{
  animation: changing2 10s ease infinite;
}

 @keyframes changing1 {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }

  50%{
    opacity: 0;
  }
  95%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
} 
@keyframes changing2 {
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }

  55%{
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
} 

.container {
  width: 100vw;
  display: grid;
  justify-content: center;
  position: fixed;
  background-image: url(gradient.png);
  animation: gradient-animation 10s ease infinite;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 0;
}

.inner {
  font-size: 10vw;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  text-align: center;
  
  grid-area: inner-div;
}

h1 {
  width: 100vw;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.test {
  height: 400vh;
}

#langs{
  padding: 0;
  margin: 0;
  font-size: 10vw;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(350deg,#f05a41,#f54f97);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  grid-area: inner-div;
  text-align: center;
  position: fixed;
}

.linecontainer {
  width: 100vw;
  display: grid;
  justify-content: center;
  position: fixed;
  text-align: center;
  height: 100vh;
  transform: translate(-30vw, 0);
}

.line {
  justify-content: center;
  height: 5vh;
  background: linear-gradient(350deg,#f05a41,#f54f97);
  width: 40vw;
  top: -10vh;
  grid-area: inner-div;
}
